In [1]:
rdd_airports = (
                 sc. textFile("/Users/RahulReddy/Desktop/pyspark/data/airport-codes-na.txt")
                .map(lambda element: element.split("\t"))
    )
rdd_airports.count()

527

In [2]:
rdd_depart =  ( 
                sc.textFile("/Users/RahulReddy/Desktop/pyspark/data/departuredelays.csv")
                .map(lambda element: element.split(","))
                )
rdd_depart.count()

1391579

In [3]:
%scala

ERROR: Line magic function `%scala` not found.

In [4]:
rdd_depart.take(5)

[[u'date', u'delay', u'distance', u'origin', u'destination'],
 [u'01011245', u'6', u'602', u'ABE', u'ATL'],
 [u'01020600', u'-8', u'369', u'ABE', u'DTW'],
 [u'01021245', u'-2', u'602', u'ABE', u'ATL'],
 [u'01020605', u'-4', u'602', u'ABE', u'ATL']]

In [14]:
rdd_depart\
.filter(lambda c : c[3] == "SEA" and c[4]== "SFO")\
.map(lambda c : int(c[1])).reduce(lambda x,y: x+y)

22293

In [27]:
# Create flightsDF DataFrame
depart_df = spark.read.\
options(headers='true', inferschema='true')\
.csv("/Users/RahulReddy/Desktop/pyspark/data/departuredelays.csv")

+--------+-----+--------+------+-----------+
|     _c0|  _c1|     _c2|   _c3|        _c4|
+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
+--------+-----+--------+------+-----------+
only showing top 10 rows

In [30]:
depart_df.createOrReplaceTempView("depart_df")

In [31]:
spark.sql("select * from depart_df").show(10)

+--------+-----+--------+------+-----------+
|     _c0|  _c1|     _c2|   _c3|        _c4|
+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
+--------+-----+--------+------+-----------+
only showing top 10 rows